.about {
    width: 100%;
    padding: 20px 110px;
    display: flex;
    background-image: url('../images/wave\(5\).svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.imageAbout {
    width: 40%;
    height: 100%;
}

.image {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid #FFF;
}

.descriptionAbout {
    width: 50%;
    margin-left: 10%;
    color: #000;
    padding-top: 40px;
}

.descriptionAbout h1 {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.descriptionAbout p {
    line-height: 1.875rem;
}


@media screen and ( max-width : 768px ) {
    .about {
        margin-top: 150px;
        flex-direction: column;
        padding: 20px 10px;
    }
    .imageAbout {
        width: 80%;
        margin: auto;
        border: none;
    }
    .descriptionAbout {
        width: 80%;
    }
    .descriptionAbout h1 {
        text-align: center;
    }
    .descriptionAbout p {
        line-height: 2;
        padding-bottom: 90px;
    }
}