.exTitle {
    padding-left: 110px;
    font-family: 'Roboto', sans-serif;
}
.experience {
    width: 100%;
    height: 500px;
    padding: 40px 110px;
    display: flex;
}

.jobtitle {
    width: 120%;
}

.explained {
    margin-left: 40px;
    margin-right: 40px;
}

.explained p {
    line-height: 1.875rem;
}

@media screen and (max-width: 768px) {
    .exTitle {
        text-align: center;
        padding-left: 0;
        margin-top: 180px;
    }
    .experience {
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }
    .jobtitle {
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .explained {
        margin: 0 20px;
    }
}