.header {
    padding: 180px 80px 200px;
    display: flex;
    margin-bottom: -5px;
    /* background-image: linear-gradient(to right, #b6f0ff 0%, #c0c6ff 100%); */
    background-image: url('../images/wave\(1\).svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.Greeting {
    width: 50%;
}

.Greeting h1 {
    width: 85%;
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800 !important;
    font-size: 2.375rem;
    line-height: 1.4;
}

.Greeting .description {
    padding-left: 5%;
    margin-top: 40px;
    font-size: 1rem;
    line-height: 1.875rem;
}

.calltoaction {
    padding: 12px 42px;
    border: none;
    margin: 50px 0 0 30px;
    font-size: 18px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #FFF;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    font-weight: bold;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.seeportfolio {
    padding: 12px 42px;
    border: 1px solid #000;
    margin: 50px 0 0 30px;
    font-size: 18px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background: transparent;
    color: #000;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.calltoaction:hover {
    background-image: linear-gradient(to right, #45008f 0%, #0041b3 100%);
}

.seeportfolio:hover {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #FFF;
    cursor: pointer;
    border: 1px solid #b876ff;
}

.photo {
    width: 50%;
}

.myphoto {
    padding-left: 15%;
    text-align: right;
    width: 80%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}

.myphoto:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.circle {
    height: 80px;
    width: 80px;
    background-image: linear-gradient(to right, #8e8cff 0%, #0050da 100%);
    position: absolute;
    z-index: 1;
    right: 11%;
    top: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 160px 5px 120px;
        flex-direction: column;
    }
    .Greeting {
        width: 100%;
    }
    .Greeting h1 {
        font-size: 24px;
        padding-left: 2%;
    }
    .Greeting .description {
        margin-top: 30px;
        padding-left: 2%;
    }
    .action {
        display: flex;
    }
    .calltoaction {
        font-size: 16px;
        padding: 10px 40px;
        margin: 50px auto;
    }
    .seeportfolio {
        font-size: 16px;
        padding: 10px 40px;
        margin: 50px auto;
    }
    .photo {
        width: 100%;
    }
    .circle {
        top: 84%;
        right: 23%;
        width: 30px;
        height: 30px;
    }
}