.management {
    width: 100%;
    background-color: #0099ff;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 110px;
    margin-top: -2px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 110px;
}

.management h1 {
    color: #FFF;
    font-family: 'Roboto',sans-serif;
}

.management p {
    color: #FFF;
    padding-top: 20px;
    width: 50%;
    line-height: 1.875rem;
}

.scrumBoard {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.scrumPicture {
    width: 22rem;
}

.scrumCapture {
    width: 100%;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: 5px solid #FFF;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}

.scrumCapture:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .management {
        padding: 20px;
    }
    .management p {
        width: 100%;
    }
    .scrumBoard {
        flex-direction: column;
        align-items: center;
    }
    .scrumCapture {
        margin-top: 50px;
    }
}