@import './fonts/Poppins.css';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.Nav {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    /* background-image: url('../images/topNav.svg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    position: fixed;
    background-color: #fff;
}

.logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 15px 0;
    position: absolute;
    z-index: 11;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}

.logo:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.brand {
    transition: .4s ease-out;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    margin-left: 70px;
}
.navbar-brand {
    line-height: 80px;
    margin-left: 110px;
    color: #000;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navigation {
    margin-left: auto;
    margin-right: 70px;
}
.navigation a {
    font-size: 16px;
    font-weight: 400;
    margin: 0 20px;
    padding: 0 10px;
    line-height: 80px;
    text-decoration: none;
    color: #000;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}
.navigation a:hover {
    color: #0064a7;
}

@media screen and (max-width: 768px) {
    .Nav {
        background-image: linear-gradient(to right, #d4a8ff 0%, #4b8dff 100%);
    }
    .brand {
        /* font-size: 16px;
        margin-left: 5px; */
        display: none;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .navigation {
        margin-right: 5px;
    }
    .navigation a {
        font-size: 15px;
        margin: 0 2px;
        color: #FFF;
    }
}

