.sectionOne {
    width: 100%;
    background-color: #0099ff;
    padding: 110px;
    padding-bottom: 130px;
}

.sectionOne h1 {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #FFF;
}

.cardHire {
    color: #FFF;
    margin-top: 80px;
    width: 15rem;
    padding: 20px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    text-align: center;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}

.cardHire:hover {
    /*background-color: rgb(46, 44, 163);
    */background-image: linear-gradient(-45deg, rgb(38, 35, 196), rgb(99, 96, 253));
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.cardPicture {
    border: 4px solid #FFF;
    width: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 10px;
}
.cardHire h3 {
    font-family: 'Roboto',sans-serif;
    padding-top: 20px;
}
.cardHire p {
    padding-top: 10px;
    line-height: 1.875rem;
}

.cards {
    display: flex;
    justify-content: space-between;
}

@media screen and ( max-width: 768px ) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .cardHire {
        width: 18rem;
        margin-top: 50px;
    }
    .sectionOne {
        padding: 10% 5% 10% 5%;
    }
    .cardHire:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}